<% include ./partials/header %>
 <section class="container">
        <div class="row px-3 align-items-center mt-4">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-center">
                    <h1 class="text-left -flex align-self-start">Connect with link minded people by sharing books for free</h1>
                </div>
                <div>
                <h3 class="pt pt-3 pb-5">Join our community to mutually share libraries with anyone anywhere in the world</h3>
                </div>
                <div>
                    <a href=" http://eepurl.com/gcYDoD" class="btn btn-lg btn-info">Fullfill my wishlist now!  <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="/uploads/landing_page_v5.gif" alt="">
            </div>
        </div>
    </section>

     <section class="container pt-5 images">
        <h1 class="text-center"><span class="clr">258</span> readers with <span class="clr">214</span> books joined this week to</h1>
        <div class="row px-3 align-items-center mt-4">
            <div class="col-lg-4 px-5">
            <img class="img-fluid" src="/uploads/Discover.png" alt="">
                <div class="text-center">
                <h1>Discover</h1>
                <h3 class="pt"> book nearby and beyond</h3>
                </div>
            </div>
            <div class="col-lg-4 px-5">
            <img class="img-fluid mt-5" src="/uploads/Exchange.png" alt="">
                <div class="text-center mt-0">
                <h1>Exchange</h1>
                <h3 class="pt">books, cultures and experiences</h3>
                </div>
            </div>
            <div class="col-lg-4 px-5">
            <img class="img-fluid" src="/uploads/jigsaw.jpg" alt="">
                <div class="text-center mt-5">
                <h1>Connect</h1>
                <h3 class="pt">with like-minded readers</h3>
                </div>
            </div>
            
        </div>
    </section>

    <section class="d-flex justify-content-center"><img src="/uploads/Final image.png" alt="" class="img-fluid sizin"></section>
    <section id="myButtons" class="container pt-5 images">
    <h1 class="pt text-center">You can <button onclick="myFunction()" class="togl active" >Exchange</button><button onclick="myFunction1()" class="togl">Donate</button> with 3 easy steps</h1>
        <section id="myDIV">
        <div class="row px-3 align-items-center mt-4">
            <div class="col-lg-4 px-5">
            <img class="img-fluid pb-5" src="/uploads/give.png" alt="">
                <div class="text-center">
                <h1>Give</h1>
                <h3 class="pt">Add list of books to giveaway</h3>
                </div>
            </div>
            <div class="col-lg-4 px-5">
            <img class="img-fluid" src="/uploads/Habit.png" alt="">
                <div class="text-center">
                <h1>Wishlist</h1>
                <h3 class="pt"> Add list of books to read</h3>
                </div>
            </div>
            <div class="col-lg-4 px-5">
            <img class="img-fluid" src="/uploads/Exchange  -connect.png" alt="">
                <div class="text-center pt-5">
                <h1>Connect</h1>
                <h3 class="pt"> Match and chat to exchange</h3>
                </div>
            </div>
        </div>
        </section>
        <section id="myDIV1">
        <div  class="row px-3 align-items-center mt-4">
            <div class="col-lg-4 px-5">
            <img class="img-fluid pb-5" src="/uploads/give.png" alt="">
                <div class="text-center">
                <h1>Give</h1>
                <h3 class="pt">Add list of books to giveaway</h3>
                </div>
            </div>
            <div class="col-lg-4 px-5">
            <img class="img-fluid" src="/uploads/connect  donate.png" alt="">
                <div class="text-center">
                <h1>Connect</h1>
                <h3 class="pt">Get connected to readers who want your book</h3>
                </div>
            </div>
            <div class="col-lg-4 px-5">
            <img class="img-fluid" src="/uploads/Donate - send.png" alt="">
                <div class="text-center">
                <h1>Send</h1>
                <h3 class="pt"> Meet offline or connect with delivery services</h3>
                </div>
            </div>
            
        </div>
        </section>
    </section>

 <section id="mySection" class="container">
        <div class="row px-3 align-items-center mt-4">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-center">
                    <h1 class="text-left -flex align-self-start">Update your library with wishlist and save money</h1>
                </div>
                <div>
                <h3 class="pt pt-3 py-5">Have a dynamic library by participating in open library of sharing books</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="/uploads/Exchange - save money.png" alt="">
            </div>
        </div>
    </section>

     <section id="mySection1" class="container">
        <div class="row px-3 align-items-center mt-4">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-center">
                    <h1 class="text-left -flex align-self-start">Donate to readers who value your book instead of throwing away</h1>
                </div>
                <div>
                <h3 class="pt pt-3 py-5">Don't want to swap - simply do a giveaway to declutteryour shelves! Readers grab those freebies now before any one else !</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="/uploads/kids.png" alt="">
            </div>
        </div>
    </section>


    <section class="container ">
        <div class="row px-3 align-items-center mt-4">
        <div class="col-lg-6 order-2 order-md-1">
                <img class="img-fluid" src="/uploads/want-to-get-back-your-book.png" alt="">
            </div>
            <div class="col-lg-6 order-1 order-md-2">
                <div id="headingGroup" class="text-center">
                    <h1 class="text-left -flex align-self-start">Want your book back ? We know who has it</h1>
                </div>
                <div>
                <h3 class="pt pt-3 py-5">All your swaps and giveaways are tracked by us. Simpy with a click connect and chat to request back your book</h3>
                </div>
            </div>
        </div>
    </section>

<% include ./partials/footer %>